<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="OPTCAMSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Net3dBoolDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <OPTCAMSim.Properties.Settings>
            <setting name="PanelSplitting" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="StepLength" serializeAs="String">
                <value>33.3</value>
            </setting>
            <setting name="StepAngle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ToolFringes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ToolRounding" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CutFaces" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MergeHoles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MergeCuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmallSteps" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastSimPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolsFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolsFormSize" serializeAs="String">
                <value>400, 600</value>
            </setting>
            <setting name="ToolsFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolsFormMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CodeSplitPos" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="ShowGCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePanelSizes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PanelX" serializeAs="String">
                <value>2100</value>
            </setting>
            <setting name="PanelY" serializeAs="String">
                <value>2800</value>
            </setting>
            <setting name="PanelZ" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="PanelMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PanelsDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAdvanced3D" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpecialCodes" serializeAs="String">
                <value>{"M30":1,"P":2}</value>
            </setting>
        </OPTCAMSim.Properties.Settings>
        <Net3dBoolDemo.Properties.Settings>
            <setting name="PanelSplitting" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="StepLength" serializeAs="String">
                <value>33.3</value>
            </setting>
            <setting name="StepAngle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ToolFringes" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ToolRounding" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CutFaces" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MergeHoles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MergeCuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FPS" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmallSteps" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastSimPath" serializeAs="String">
                <value />
            </setting>
        </Net3dBoolDemo.Properties.Settings>
    </userSettings>
</configuration>
